.body {
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}


#main {
    display: flex;
    flex: 1;
}

#main > .cards {
    flex: 1;
    order: 1;
    background: #283618;
    border: 8px solid #9e6d1a;
}

#main > .input {
    flex: 0 0 40vw;
    background: #d0c1a6;
    order: 3;
}

.header{
    background: #ffffff;
    height: 20vh;
    text-align: center;
}

.cards, .input{
    padding: 1em;
}

.header {
    padding: 0.5em;
}